/* globals */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Titillium+Web:wght@400;700&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --yangColor: #d8c21e;
  --yinColor: #111111;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Monterrat, sans-serif;
  height: 100vh;
 justify-content: center;
  align-items: center;
  
  width: 100%;
  height: 100vh;
  overflow: hidden auto;

}

/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  z-index: 1;
  backdrop-filter: blur(5px);
}

.header a {
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
}

.menu-items {
  list-style: none;
  display: flex;
  align-items: center;
}

.menu-items li a {
  font-size: 1rem;
  padding: 0.5em 1em;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.menu-items li a:hover {
  background-color: #fcd68b;
}

/* nav menu button */
.menu-btn {
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  z-index: 1;
}
.menu-btn__lines,
.menu-btn__lines::before,
.menu-btn__lines::after {
  width: 1.5rem;
  height: 0.1rem;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
}
.menu-btn__lines::before,
.menu-btn__lines::after {
  content: "";
  position: absolute;
}
.menu-btn__lines::before {
  transform: translateY(-0.5rem);
  box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff, 0 0 80px #fff, 0 0 120px #fff, 0 0 160px #fff;
}
.menu-btn__lines::after {
  transform: translateY(0.5rem);
}
/* animation */
.menu-btn.open .menu-btn__lines {
  transform: translateX(2rem);
  background-color: transparent;
}
.menu-btn.open .menu-btn__lines::before {
  transform: rotate(45deg) translate(-1.5rem, 1.5rem);
  background-color: #ffffff;
}
.menu-btn.open .menu-btn__lines::after {
  transform: rotate(-45deg) translate(-1.5rem, -1.5rem);
  background-color: #ffffff;
}
/*home section begins*/
.text-wrapper {
  display: flex;
  font-size: 60px;
  font-weight: 400;
  margin-left: 65px;
}

.text-dynamic {
  margin-left: 30px;
  line-height: 90px;
  height: 90px;
  overflow: hidden;
}

.text-item {
  position: relative;
  font-weight: 500;
  color: var(--yangColor);
  list-style: none;
  top: 0;
  animation: slide 12s steps(4) infinite;
  text-align: center;
}

.text-item::after {
  position: absolute;
  content: '';
  left: 0;
  height: 100%;
  width: calc(100% + 30px);
  animation: typing 3s steps(10) infinite;
}

@keyframes typing {
  40%,
  60% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}

@keyframes slide {
  100% {
    top: -360px;
  }
}

.parallax1 {
    background-image: url(img/New\ sun.jpg);
    min-height: 100%;
}
.welcome-text a {
  border: 0px solid #000;
  padding: 10px 25px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 20px;
  position: fixed;
  left: 44%;
  display: inline-block;
  color: black;
}
.welcome-text a:hover {
   background: #fff;
   color: #333;
    box-shadow: 0 0 5px #009D99,
               0 0 25px #009D99,
               0 0 50px #009D99,
               0 0 100PX #009D99; 
}


.parallax1{
    position: relative;
    opacity: 0.93;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /*Important*/
}

.head {
    position: fixed;
    color: #fff;
    font-size: 500%;
    top:50%;
    width: 100%;
    left: 500px;
    text-transform: uppercase;
    letter-spacing: 1px;
    animation: drop 3.0s ease; /* Make things beautiful */
    cursor: pointer;
}

.head:hover{
    color:transparent;
}

@media (max-width:800px){
  .text-wrapper {
  display: flex;
  font-weight: 400;
  margin-left: 120px;
  font-size: 40px;
}
.text-dynamic {
  margin-left: 30px;
  line-height: 90px;
  height: 90px;
  overflow: hidden;

}

.text-item {
  position: relative;
  font-weight: 500;
  color: var(--yangColor);
  list-style: none;
  top: 0;
  animation: slide 10s steps(4) infinite;
}

.text-item::after {
  position: fixed;
  content: '';
  left: 0;
  height: 100%;
  width: calc(100% + 30px);
  animation: typing 3s steps(10) infinite;
}
  .welcome-text{
     border: 0px solid #fff;
     color: white;
    position: fixed;
    left: 0;
    right: 0;
    top: 388px;
    margin: 0 auto;
    max-width: 600px;

}
  .navbar{
      width: 180px;
    }
 .welcome-text a{
   bottom: 28%;
   left: 210px;
  }
  .head{
        font-size: 300%;
        left: 20%;
    }
   
}

/*home section ends */

/* Extracuricular page begins */
.wrapper{
    width: 80%;
    padding: 30px 0;
    margin: auto;
    text-align: center;
}
.section-header{
    text-transform: uppercase;
    line-height: 100px;
    padding-bottom: 30px;
    font-size: 50px;
    color: #fff;
    letter-spacing: 2px;
    margin: auto;
    
}
.content {
  padding: 10%;
}

.content h2 {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.content p {
  line-height: 1.5;
}
.main-content{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-main-content-gap: 25px;
    grid-column-gap: 15px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.main-content .box{
    position: relative;
    cursor: pointer;
    margin-bottom: 15px;
    box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
    height: 250px;
    border-radius: 0.5rem;
    overflow: hidden;    
}
.main-content .box::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    height: 100%;
    transition: all 0.3s ease-in-out;
}
.main-content .box:hover:before{
    top: 0;
    right: calc(100% - 5px);
    z-index: 10;
}
.main-content .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main-content .box .img-text {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255,255,255,0.9);
    width: 100%;
    height: 100%;
    top: 0;
    right: 100%;
    transition: all 0.5s ease-in-out;   
}
.main-content .box:hover .img-text{
    top: 0;
    right: 0;
}

/* Extracuricular page ends */

/*contact me page begin*/
body{
  background: #517a8b;
}

.wrapper_contact{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 350px;
  width: 100%;
  background: #fff;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 4px 4px 2px rgba(254,236,164,1); 
}

.wrapper_contact h2{
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #332902;
  margin-left: 50px;
}

.wrapper_contact .input_field{
  margin-bottom: 10px;
}

.wrapper_contact .input_field input[type="text"],
.wrapper_contact textarea{
  border: 1px solid #e0e0e0;
  width: 100%;
  padding: 10px;
}

.wrapper_contact textarea{
  resize: none;
  height: 80px;
}

.wrapper_contact .btn input[type="submit"]{
  border: 0px;
  margin-top: 15px;
  padding: 10px;
  text-align: center;
  width: 100%;
  background: #013220;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
}

#error_message{
  margin-bottom: 20px;
  background: #fe8b8e;
  padding: 0px;
  text-align: center;
  font-size: 14px;
  transition: all 0.5s ease;
}
/*contact me page end*/


/* report starts */

}
.header-left {
    display: grid;
    align-items: center;
    font-size: 2rem;
}

.header-right{
    width: 100%;
    display: grid;
    justify-items: end;
}
.header-right p{
    display: inline;
}

.blue{
    background:#173e43;
    color:#fff;
    padding: 0.5rem;
    border-radius: 0.3rem;
    margin-bottom: 8px;
}



@media (max-width:767px){
 .header-right{
    font-size: 11px;
  }
}
.section_report{
  margin-top: 70px;
  opacity: auto;
  padding-bottom: 40px;
}
h1{
    margin: 0 auto;
    text-align: right;
    width: 390px;
    font-weight: 500;
    margin-bottom: 10px;
}
h2{
    margin: 0;
    font-weight: 400;
    display: inline-block;
}
.box-r{
    background: #fff;
    width: 50rem;
    padding: 3rem;
    margin: 1rem auto;
    border-radius: 0.5rem;
    background: rgb(240, 239, 239);
}
.header-r{
    display: grid;
    grid-template-columns: 40% 60%;
}
.img-index{
  width: 600px;
}
.img-cv{
  width: 600px;
}
.img-portfolio{
  width: 600px;
}
.img-call{
  width: 600px;
}
.img-prob{
  width: 600px;
}

@media (max-width:760px){

  h1 {
    margin: 0 auto;
    text-align: right;
    width: 220px;
    font-weight: 500;
    margin-bottom: 10px
  }
  .section_report{
    overflow: hidden;
    padding-bottom: 30px;
}
  .box-r{
    width: 15rem;
  }
  .box-r{
    margin-top: 10px;
    padding: 1.5rem;
    width: 370px;
  }
  .img-index{
      width: 250px;
    }
    .img-blog{
      width: 250px;
    }
    .img-portfolio{
      width: 250px;
    }
    .img-call{
      width: 250px;
    }
    .img-prob{
      width: 250px;
    }
}
/* report ends */

/* Blog begins */

* {
  box-sizing: border-box;
}

/* Add a gray background color with some padding */

/* Header/Blog Title */
.blog{
  padding: 20px;
}
.header_B {
  position: relative;
  text-align: center;
  color: white;
  top: 50px;
  margin-bottom: 45px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}


/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
   background-color: white;
   padding: 20px;
   margin-top: 20px;
}
.card h2 {
  padding: 4px;
}
.card h5 {
  padding: 4px;
}
.card h3 {
  padding: 4px;
}
.header_Row {
  position: relative;
  text-align: center;
  color: white;
  top: 25px;
  margin-bottom: 45px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #fff;
  margin-top: 20px;
  opacity: 0.7;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 70px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-google {
  background: #dd4b39;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}


/*Blog ends */

/* contact page start */
.contact {
  position: relative;
  height: 80vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact .content{
  max-width: 800px;
  padding-bottom: 50px;
  padding-right: 200px;
}
.contact .content h2{
  font-size: 36px;
  font-weight: 500;
  color: #fff;
}
.container-c{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container-c .contactInfo{
  width: 50%;
  display: flex;
  flex-direction: column;
}
.container-c .contactInfo .box-x{
  position: relative;
  padding: 20px 0;
  display: flex;
  color: white;
}
.container-c .contactInfo .box-x .icon{
  min-width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
  color: white;
}
.container-c .contactInfo .box-x .text{
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #fff;
  flex-direction: column;
  font-weight: 300;
}
.container-c .contactInfo .box-x .text h3{
  font-weight: 500;
  color: #073245;
}
.contact-form{
  width: 40%;
  padding: 40px;
  background: #fff;
  border-radius: 0.5rem;
  opacity: 0.8;
}
.contact-form h2{
  font-size: 30px;
  color: #333;
  font-weight: 500;
}
.contact-form .inputbox{
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.contact-form .inputbox input,
.contact-form .inputbox textarea{
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}
.contact-form .inputbox span{
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}
.contact-form .inputbox input:focus ~ span,
.contact-form .inputbox input:valid ~ span,
.contact-form .inputbox textarea:focus ~ span,
.contact-form .inputbox textarea:valid ~ span{
  color: #3fb0ac;
  font-size: 12px;
  transform: translateY(-20px);
}
.contact-form .inputbox input[type="submit"]{
  width: 100px;
  background: #173e43;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}
@media (max-width: 991px){
  .contact .content{
    padding-right: 58px;
  }
  .contact .content h2{
    padding-top: 100px;
  }
  .contact{
    padding: 60px;
    height: 120vh;
  }
  .container-c{
    flex-direction: column;
  }
  .container-c .contactInfo{
    width: 80%;
    margin-bottom: 20px;
  }
  .contact-form{
    width: 60%;
  }

/* contact page end */

/* media query for tablet devices */
@media (max-width: 1023px) {
  .custom-shape-divider svg {
    width: calc(200% + 1.3px);
    height: 150px;
  }
  .hero-col {
    max-width: 100%;
    width: clamp(300px, 50vw, 600px);
    padding: 0;
  }
  .hero-img {
    display: none;
  }
}

/* media query for mobile devices */
@media (max-width: 767px) {
  .custom-shape-divider svg {
    width: calc(250% + 1.3px);
    height: 150px;
  }
  .header a {
    font-size: 1rem;
  }
  .menu-btn {
    display: flex;
  }
  .menu-items {
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100vh;
    transform: translateX(100vw);
    background-color: #394f5d;
    transition: transform 0.3s ease-in-out;
  }
  .menu-items.open {
    transform: translateX(0);
  }
  .menu-items li {
    width: 100vw;
    height: 100%;
  }
  .menu-items li a {
    color: #ffffff;
    font-size: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .menu-items li a:hover {
    color: #111111;
  }
}
